/* ---------- Color ---------- */
:root {
	--body-bg: #363b41;
	--text-color: #363b41;
	--background-color: #f4dcc9;

	/* ----- Left Section ----- */
	--left-section-bg: #8d6b69;
	--name: #e43045;
	--profession: #f9f8ff;
	--left-title: #ff9d75;
	--left-text: #f9f8ff;
	/* ----- Left Section ----- */

	/* ----- Right Section ----- */
	--right-section-bg: #f9f8ff;
	--right-title: #e43045;
	--exp-position: #ff9d75;
	--exp-company-name: #8d6b69;
	/* ----- Right Section ----- */
}
/* ---------- Color ---------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Roboto', sans-serif;
}

body {
	color: var(--text-color);
	background-color: var(--body-bg);
}

.resume-contents {
	min-height: 100vh;
	width: 80%;
	margin: 2rem auto;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}
/*-------------------*/
.left-section {
	grid-column: span 2;
	height: 100%;
	background-color: var(--left-section-bg);
}

.right-section {
	grid-column: span 5;
	height: 100%;
	background-color: var(--right-section-bg);
}

.left-section-contents {
	padding: 2rem 2rem;
}

.profile {
	width: 100%;
	border-bottom: 2px solid #363b41;
}

.profile .profile-image {
	width: 100%;
	border-radius: 50%;
	border: 1px solid #f4dcc9;
}

.name {
	color: var(--name);
	font-size: 1.875rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	padding: 1rem 0;
}

.profession {
	color: var(--profession);
	font-size: 1.25rem;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	font-weight: bold;
	padding-bottom: 1rem;
}

.left-title {
	color: var(--left-title);
	font-size: 1.25rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
	display: flex;
	align-items: center;
	padding-top: 3rem;
}

.contact-info ul {
	padding-top: 1.5rem;
}

.contact-info ul li,
.references ul li {
	gap: 1.2rem;
	padding: 0.4rem 0;
	display: flex;
	align-items: center;
	color: var(--left-text);
	letter-spacing: 1px;
	font-size: 1.125rem;
}

.skills ul {
	padding-top: 1.5rem;
}

.skills ul li p {
	padding: 0.4rem 0;
	color: var(--left-text);
	font-size: 1.125rem;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

.right-section-contents {
	padding: 2rem 2rem;
}

.right-title {
	color: var(--right-title);
	font-size: 2.5rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
	display: flex;
	align-items: center;
	padding: 2rem 0;
	position: relative;
}

.gap {
	padding-bottom: 2rem;
}

.tik-tok img {
	height: 1.25rem;
	width: 1.5rem;
}

.g-drive img {
	height: 1.25rem;
	width: 1.5rem;
}

.about-me-contents {
	font-size: 1.125rem;
	letter-spacing: 1px;
	line-height: 2rem;
}

.experience-contents,
.education-contents {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.625rem;
	padding-bottom: 2rem;
}

.exp-right {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.exp-company-name,
.education-school-name {
	font-size: 1.5625rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--exp-company-name);
	padding-bottom: 0.4rem;
}

.exp-time-period,
.educationp-time-period {
	font-size: 1.125rem;
	letter-spacing: 1px;
	line-height: 2rem;
}

.exp-position,
.education-subject {
	font-size: 1.375rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--exp-position);
	padding-bottom: 0.4rem;
}

.exp-desc,
.education-desc {
	font-size: 1rem;
	letter-spacing: 1px;
	line-height: 1.5rem;
	border-left: 3px solid #a5a3a3;
	padding-left: 5px;
}

/*-------------------*/

.сertificates img {
	width: 100%;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	align-items: center;
	justify-content: center;
}

.modal {
	position: relative;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	max-width: 80%; /* Задаємо максимальну ширину для модального вікна */
	box-sizing: border-box;
}

.close {
	font-weight: 700;
	color: #fff;
	position: absolute;
	top: -60px;
	right: -46px;
	font-size: 60px;
	cursor: pointer;
}

/* Опціонально: стилізація зображення в модальному вікні */
.modal img {
	max-width: 100%; /* Забезпечуємо вміщення зображення в модальний контейнер */
	height: auto;
}

/* ---------- Media ---------- */
@media screen and (max-width: 1200px) {
	.resume-contents {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (max-width: 780px) {
	.experience-contents,
	.education-contents {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (max-width: 780px) {
	.left-section {
		grid-column: span 3;
	}

	.right-section {
		grid-column: span 4;
	}

	.сertificates {
		display: none;
	}
}

@media screen and (max-width: 390px) {
	.resume-contents {
		width: 100%;
		margin: 0 auto;
	}

	.name {
		font-size: 1.25rem;
	}

	.profession {
		font-size: 1.125rem;
	}

	.left-title {
		font-size: 1.125rem;
	}

	.right-title {
		font-size: 1.125rem;
	}

	.contact-info ul li,
	.references ul li {
		font-size: 0.75rem;
	}

	.contact-info ul li i,
	.references ul li i {
		font-size: 0.75rem;
	}

	.skills ul li p {
		font-size: 0.75rem;
	}

	.about-me-contents {
		font-size: 16px;
		line-height: 1.5rem;
	}

	.exp-company-name,
	.education-school-name {
		font-size: 1.125rem;
	}

	.exp-time-period,
	.educationp-time-period {
		font-size: 1rem;
	}

	.exp-position,
	.education-subject {
		font-size: 1.125rem;
	}
}
/* ---------- Media ---------- */

/*Neon*/
#neon__container {
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.neon {
	text-align: center;
	letter-spacing: 1px;
	font-size: 0.7em;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 1;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	animation: neon1 1.5s ease-in-out infinite alternate;
}

@keyframes neon1 {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #e43045,
			0 0 70px #e43045, 0 0 80px #e43045, 0 0 100px #e43045, 0 0 150px #e43045;
	}
	to {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #e43045,
			0 0 35px #e43045, 0 0 40px #e43045, 0 0 50px #e43045, 0 0 75px #e43045;
	}
}
